%% -*- mode: erlang -*-

[
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 %% SASL config
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

 {sasl, [
	 {sasl_error_logger, {file, "priv/log/sasl-error.log"}},
	 {errlog_type, error},
	 {error_logger_mf_dir, "priv/log/sasl"},      % Log directory
	 {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
	 {error_logger_mf_maxfiles, 5}           % 5 files max
	]
 },
 {gebot, [
	  {db_host, "127.0.0.1"},
	  {db_port, 21107},
	  {db_overflow, 5},
	  {db_pool_size, 10},
	  {db_name, zz},
	  {db_user, "xyz"},
	  {db_pwd, "123456"},
	  {xmpp_node, 'ejabberd@localhost' },
	  {xmpp_server, "synerlite.com"}
 ]}

].
